@use "../../styles/mixins";
@use "../../styles/variables";

.hosts {
  margin: auto;
  max-width: 1240px;
}

.top0 {
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .top1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      @include mixins.text(36px, 500, variables.$mainColor);

      span {
        display: block;
        @include mixins.text(18px, 500, variables.$mainColor);
      }
    }

    &__tags {
      align-items: center;
      margin-top: 20px;
    }
  }

  .top2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__host {
      display: flex;
      align-items: center;
      @include mixins.text(18px, 500, variables.$mainColor);

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      &__name {
        text-align: right;
        width: 90px;
        padding-right: 5px;
      }
    }

    &__review {
      margin-top: 20px;
    }
  }

  @include mixins.mobile-xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 335px;
    margin: auto;

    .top1 {
      margin-top: 20px;
      &__title {
        @include mixins.text(18px, 500, variables.$mainColor);

        span {
          margin-top: 10px;
          @include mixins.text(14px, 500, variables.$mainColor);
        }
      }
    }

    .top2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 10px 0 20px 0;
      align-items: center;

      &__host {
        @include mixins.text(12px, 500, variables.$mainColor);

        img {
          width: 32px;
          height: 32px;
        }

        &__name {
          text-align: right;
          width: 78px;
          padding-right: 5px;
        }
      }

      &__review {
        margin-top: 0px;
      }
    }
  }

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
    margin: auto;

    .top1 {
      margin-top: 20px;
      &__title {
        @include mixins.text(18px, 500, variables.$mainColor);

        span {
          margin-top: 10px;
          @include mixins.text(14px, 500, variables.$mainColor);
        }
      }
    }

    .top2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 10px 0 20px 0;
      align-items: center;

      &__host {
        @include mixins.text(12px, 500, variables.$mainColor);

        img {
          width: 32px;
          height: 32px;
        }

        &__name {
          text-align: right;
          width: 78px;
          padding-right: 5px;
        }
      }

      &__review {
        margin-top: 0px;
      }
    }
  }
}

.collapseDiv {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__span {
    width: 47%;

    li {
      list-style: none;
    }
  }

  @include mixins.mobile-xs {
    margin: auto;
    flex-direction: column;
    justify-content: start;

    &__span {
      margin: auto;
      width: 100%;
      // width: unset;
    }
  }

  @include mixins.tablet {
    margin: auto;
    flex-direction: column;
    justify-content: center;

    &__span {
      margin: auto;
      width: 100%;
    }
  }
}
