@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

$mainColor: #ff6060;
$bgColor: #f6f6f6;
$lightColor: white;

$breakpoints: (
  mobile-xs: 500px,
  mobile-max: 501px,
  tablet-min: 768px,
  tablet-max: 991.98px,
  desktop-min: 992px,
);
