.carrousel {
    height: 415px;
    max-width: 1240px;
    border-radius: 25px;
    overflow: hidden;

        img {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
        
    }

    &__previous img{
        height: 80px;
        width: 45px;
        position: absolute;
        top: 300px;
        left: 100px;
       
    }

    &__next img{
        height: 80px;
        width: 45px;
        position: absolute;
        top: 300px;
        right: 100px;
       
    }

    &__number {
        position: absolute;
        top: 500px;
        left: 50%;
    }
}