@use "./styles/mixins";
@use "./styles/variables";



.pageApp {
padding: 0 100px 0 100px;

@include mixins.mobile-xs{
  padding: 20px 20px 0 20px;

}

 
}


.active {
  border-bottom: 2px solid #FF6060;
}




